node_modules
.next
out
dist
!extensions/woo-hyukmon-market-collector/dist/
!extensions/woo-hyukmon-market-collector/dist/**
.env
.env*.local
.toss-local.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage
vercel.json
*.tsbuildinfo
.vercel
